body{
    background-color: rgb(28, 29, 52);
}

p{
    color: rgb(255, 255, 255);
    text-align: justify;
    font-family: sans-serif;
    font-size: 12pt;
}

h1{
    color: aliceblue;
}

li{
    color: aliceblue;
}